{% extends "base.html" %}
{% block title %}Application Form{% endblock %}

{% block content %}
  <h1>Application Form</h1>
  <p>Please enter your first name, last name, salary requirement,and select the
  position you wish to apply for: </p>

  <form action="/application-success">
    <label>First Name <input type="text" name="first_name"></label></br>
    <label>Last Name <input type="text" name="last_name"></label></br>
    <label>Salary Requirement <input type="text" name="salary"></label></br>
    <label>
      Position
      <select name="job">
        {% for job in jobs %}
          <option value="{{ job }}">{{ job }}</option>
        {% endfor %}
      </select>
    </label></br>
    <input type="submit">
  </form>
{% endblock %}
